body {
text-align: center;
margin: 0;
}

ul.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
ul.nav_bar li {
float: left;
}
ul.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}
ul.nav_bar li a.active {
color:blue;
}
ul.nav_bar li a:hover {
background-color: lightGray;
color:blue;
text-decoration: underline;
}
@media screen and (max-width: 600px) {
  ul.nav_bar li {float: none;}
  ul.nav_bar li {border: 3px solid black;}
}
h1, h2, h3, p{
text-align: center;
}
img {
padding: 10px;
}
span {
color: blue;
}
.about_palet {
display: flex;
flex-direction: column;
text-align: left;
height: 100%;
max-height: 100%
}
.about_palet_also {
border: solid 5px black;
}
.about_palet_item {
font-size: 20px;
border: solid 2px black;
}
.about_grid_images {
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr;);
  background-color: silver;
  border: solid 2px black;
  height: auto;
  grid-gap: 15px;
}
@media screen and (max-width: 600px) {
  .about_grid_images {grid-template-columns: repeat(2, 1fr);}
}
.about_images {
text-align: center;
}
.about_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px white solid;
  border-radius: 5px;
}
.grid-container {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(50% 50%);
 grid-gap: 20px;
}

@media screen and (max-width: 600px) {
  .grid-container {grid-template-columns: repeat(2, 1fr);}
}
.figure-img {
max-width: 100%;
height: 50%;
}
.grid-item {
  border: thin silver solid;
  border-radius: 5px;
}
.price_grid {
   display: grid;
  text-align: center;

   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

   gap: 0px;
   height: 100%;

}

#item-0 {
border: solid 3px white;
padding: 10px;
   background-color: black;
   color: white;
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 4;

}
#item-1 {
border: solid 3px white;
   background-color: black;
   color: white;
   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 5;

}
#item-2 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 2;
   grid-column-end: 8;

}
#item-3 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 4;

}
#item-4 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 5;

}
#item-5 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 2;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 8;

}
#item-6 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 4;

}
#item-7 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 3;
   grid-column-start: 5;

   grid-row-end: 4;
   grid-column-end: 8;

}
#item-8 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 3;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;

}
#item-9 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 4;

}
#item-10 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 4;
   grid-column-start: 4;

   grid-row-end: 5;
   grid-column-end: 5;

}
#item-11 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 4;
   grid-column-start: 5;

   grid-row-end: 5;
   grid-column-end: 8;

}
#item-12 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 5;
   grid-column-start: 5;

   grid-row-end: 6;
   grid-column-end: 8;

}
#item-13 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 5;
   grid-column-start: 4;

   grid-row-end: 6;
   grid-column-end: 5;

}
#item-14 {
border: solid 3px white;
  background-color: black;
  color: white;
   grid-row-start: 5;
   grid-column-start: 1;

   grid-row-end: 6;
   grid-column-end: 4;

}
.footer {
display: flex;
justify-content: space-between;
background-color: black;
}
.footer_item {
margin: 5px;
color: white;
flex-basis: 25%;
flex-shrink: 1;
}
.figure_footer {
display: flex;
justify-content: flex-start;
margin: auto;
height: 50%;
}
.footer_image {
position: relative;
top: -15px;
max-width: 220px;
max-height: 100px;
}
.copyright {
text-align: center;
background: #242526;
color: white;
padding: 10px 0 10px 0;
}
.button_container{
  text-align: center;
  position: relative;
}
#puzzle {
text-align: center;
}
.button_item a {
color: black;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #EBE9E9;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input_button {
  float: right;
  width: 50%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
.no{
color: white;
}
textarea {
  background-color: #EBE9E9;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input_button:hover {
  background-color: lightBlue;
}
.grid-contacts {
display: grid;
grid-template-columns: repeat(2, 1fr)
}
@media screen and (max-width: 600px) {
  .grid-contacts {grid-template-columns:1fr; grid-template-rows: 1fr 2fr;}
}
.contacts {
font-size: 20px;
width: 100%;
padding: 10px;
margin: auto;
border-radius: 4px;
display: inline-block;
}
.courses_grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
height:auto;
}
.courses_grid_item {
border: 2px solid white;
}
.courses_flex {
display: flex;
text-align: center;
flex-direction: column;
}
@media screen and (max-width: 600px) {
  .courses_grid {grid-template-columns: 1fr; grid-template-rows: repeat(4, 1fr);}
}
.courses_flex_grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 10px;
}
.courses_flex_grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.coureses_flex_grid_item {
padding: 20px;
background-color: white;
border: 1px solid lightGray;
border-radius: 4px;
}
.coureses_flex_grid_item:hover {
background-color: lightGray;
}
